<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.walterfan.gtd"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.github.walterfan.gtd.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.walterfan.gtd.ui.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="com.github.walterfan.gtd.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.walterfan.gtd.MainActivity" />
        </activity>
        <activity
            android:name="com.github.walterfan.gtd.ui.TasksActivity"
            android:label="@string/title_activity_tasks"
            android:parentActivityName="com.github.walterfan.gtd.ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.walterfan.gtd.MainActivity" />
        </activity>

        <service
            android:name="com.github.walterfan.gtd.service.DataSyncService"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.android.myAction" />
            </intent-filter>
        </service>

        <activity
            android:name="com.github.walterfan.gtd.test.TestActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.github.walterfan.gtd.test.MediaPlayerTest"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.github.walterfan.gtd.test.SoundPoolTest"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.github.walterfan.gtd.test.ShapeTest"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.github.walterfan.gtd.test.DialogTest"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.github.walterfan.gtd.LoginActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.github.walterfan.gtd.TaskActivity"
            android:label="@string/title_activity_task" >
        </activity>
    </application>

</manifest>