<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.walterfan.gtd"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        >
        <activity
            android:name="com.github.walterfan.gtd.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.walterfan.gtd.ui.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="com.github.walterfan.gtd.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.walterfan.gtd.MainActivity" />
        </activity>
        
         <activity
            android:name="com.github.walterfan.gtd.ui.TasksActivity"
            android:label="@string/title_activity_tasks"
            android:parentActivityName="com.github.walterfan.gtd.ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.walterfan.gtd.MainActivity" />
        </activity>
        <service android:name="com.github.walterfan.gtd.service.DataSyncService" 
            android:process=":remote">
            <intent-filter>
                <action android:name="com.android.myAction"/>
            </intent-filter>
        </service>
        <activity android:theme="@style/AppTheme" android:name=".test.TestActivity"></activity>
        <activity android:theme="@style/AppTheme" android:name=".test.MediaPlayerTest"></activity>
        <activity android:theme="@style/AppTheme" android:name=".test.SoundPoolTest"></activity>
        <activity android:theme="@style/AppTheme" android:name=".test.ShapeTest"></activity>
        <activity android:theme="@style/AppTheme" android:name=".test.DialogTest"></activity>
        <activity android:theme="@style/AppTheme" android:name=".LoginActivity"></activity>
    </application>

</manifest>